body{
    background-image: url("photos/body.jpg");
}
.border{
    margin-top: 5%;
    border: 1px black groove;
    background-color:rgb(07,29,44) ;
margin-left: 35%;
margin-right: 35%;
}
h1{
    color: rgb(28, 113, 124);
}
h4{
    color:rgb(28, 113, 124);
text-decoration: rgb(28, 113, 124);
}
a{
    text-decoration: rgb(28, 113, 124);
    color: red;
}
.username{
    margin-top: 10px;
margin-bottom: 10px;
}
.email{ 
    margin-top: 10px;
margin-bottom: 10px;

}
.password{
    margin-bottom: 10px;
    margin-top: 10px;
}
button{
    margin-bottom: 10px;
    margin-top: 10px;
  
}
.link{
    text-decoration: none;
    color: black;
}
.image{
    width: 40%;
    height: 40%;
}
@media screen and (max-width:500px){
    .border{
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media screen and (min-width:501px) and (max-width:800px){
    .border{
        margin-left: 20%;
        margin-right: 20%;
    }
}






























